@font-face {
  font-family: "GoogleSans";
  font-style: normal;
  font-weight: 400;

  src: local("GoogleSans"),
       url("/Google Sans/GoogleSans-Regular.ttf") format("ttf"),
       url("/Google Sans/ProductSans-Regular.woff") format("woff");
}

body {
  font-family: "GoogleSans", "Arial", sans-serif;
}
